@media (max-width: 650px) {

    body{
        background-color: #EFEFEF;
    }
    main {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    .grid-1 {
        display: block;
        margin-left: auto;
        margin-left: auto;
    }
    
    .grid-2 {
        display: block;
        margin-left: auto;
        width: 70%;
    }

    .logo {
        width: 90%;
    }
    .recipe-image {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

body{
    background-color: #EFEFEF;
}
hr {
    margin-bottom: 100px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 10%;
}

h1 {
    font-size: 500%;
    font-family: "Reenie Beanie", 'Bradley Hand', cursive;
}

.search {
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 4px solid lightgrey;
    border-radius: 5px;
}

input {
    width: 100%;

    height: 30px;
    border-width: 3px;
    border-style: none solid none none;
}

.search-icon {
    height: 30px;
}

main {
    display: flex;
}

.tag {
    display: inline;
    text-align: center;
    width: 8%;
    border: 2px solid black;
    padding: 5px;
}

h2 {

    color: aqua;
    font-family: "Reenie Beanie", 'Bradley Hand', cursive;
    font-size: 400%;
}

.grid-1 {
    display: block;
    margin-left: 10%;
    width: 40%;
}

.grid-2 {
    display: block;
    width: 50%;
}

.recipe-image {

    max-width: 60%;
}



footer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.social {
    /* width:%; */
    max-width: 50px;
}

.attr {
    font-size: x-small;
    margin-right: 80%;
    text-decoration: none;
}