body{
    font-family: 'Roboto', sans-serif;
    width : 100%;
}
main{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
header{
    text-align: center;
    background-color: black;
    color: white;
}
h1{

    text-align: center;
}
section{
    background-color: grey;
    display: grid;
    grid-template-columns: auto;

}
figure img{
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    border-color: rgb(10, 123, 223);
    border-style: solid;
    border-width: 5px;
    box-shadow: 5px 5px ;
    
}
nav{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
nav a{
    text-align: justify;
    color:white;
    margin-bottom: 7%;
}
.viewer{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;

}
.viewer-img{
    grid-column: 2/4;
    grid-row: 3/4;
    width: auto;
    max-width: 100%;
}
.close-viewer{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20px;
    height: 20px;
}
#menuButton{
    background-color: black;
    color: white;
    text-decoration: none;
    box-shadow: none;
    border: none;
    font-size: 1.5rem;
}
@media (min-width: 551px) and (max-width: 800px) {
    main{
        background-color: yellow;
    }
    section{
        grid-template-columns:auto auto;
    }
    nav{
        margin-left: auto;
        margin-right: auto;
        width: 90px;
    }
    nav a{
        text-align: justify;
        color:white;
        margin-bottom: 7%;
    }
    .hide {
        display: none;
    }
    .viewer{
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-color: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
    
    }
    .viewer-img{
        grid-column: 2/4;
        grid-row: 3/4;
        width: auto;
        max-width: 100%;
    }
    .close-viewer{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 20px;
        height: 20px;
    }

}


@media (min-width: 801px){
    main{
        background-color: green;
    }
    section{
        grid-template-columns:auto auto auto;
    }
    nav{
        width: 855px;
        margin-left: auto;
        margin-right: auto;
    }
    nav a{
        width: 171px;
        margin-left: 5%;
        margin-right: 5%;
    }
    #menuButton{
        display: none;
    }

    .viewer{
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-color: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
    
    }
    .viewer-img{
        grid-column: 2/4;
        grid-row: 3/4;
        width: auto;
        max-width: 100%;
    }
    .close-viewer{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 20px;
        height: 20px;
    }






}